version: "3.9"

services:
  pocketmox:
    build:
      context: .
      dockerfile: Dockerfile
    
    environment:
      ROOT_PASSWORD: ${ROOT_PASSWORD}

    container_name: pocketmox
    hostname: pocketmox

    restart: unless-stopped
    privileged: true
    security_opt:
      - seccomp:unconfined

    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /tmp:/tmp

    tmpfs:
      - /run
      - /run/lock

    ports:
      - "${PDM_PORT:-8443}:8443"

