name: PocketMox

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:


permissions:
  contents: read
  packages: write


jobs:
  Check:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: .
          severity: error
  
  Build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: pocketmox:ci
      
      - name: Verify docker-compose
        run: docker compose config

      - uses: actions/checkout@v4
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: pocketmox:ci
          severity: CRITICAL,HIGH
          exit-code: 0
          vuln-type: os,library
          format: table

  Publish:
    name: Publish Docker Image
    runs-on: ubuntu-latest
    needs: [Check, Build]
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Name Lowercase
        run: echo "LOW_NAME=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Detect version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF#refs/tags/}"
          else
            VERSION="latest"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.LOW_NAME }}/pocketmox:latest
            ghcr.io/${{ env.LOW_NAME }}/pocketmox:${{ env.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/pocketmox:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/pocketmox:${{ env.VERSION }}
    
  Release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: Publish
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: PocketMox ${{ env.VERSION }}
          tag_name: ${{ env.VERSION }}
          generate_release_notes: true
          token: ${{ secrets.GIT_TOKEN }}